header {
  
}

h1 {
    border: 5px solid black;
    display: flex;
    text-align: center;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    height: 40px;

}

.crystals {

    display: flex;
    justify-content: space-around;
    align-items: center;
    font: 2em sans-serif;
    color: red;

}

.crystal {
    border: 2px solid blue;
    height: 200px;
    width: 200px;
}